<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}

  <h3>Your pending tasks</h3>
  {% for task in tasks %}
  <form method="post" name="completetask">
  {{ task.name }} {% if task.due_date %} (due {{ task.due_date|datetimeformat }}) {% endif %}
  <button type="submit" name="is_finished" value="{{ task.id }}">Complete</button>
  </form>
  {% endfor %}

  <a href="{{ url_for('add_task') }}">Add a new task</a>

  <h3>Your projects</h3>
  {% for project in projects %}
  <a  href="{{ url_for('project', project_name=project) }}">{{ project }}</a><br>
  {% endfor %}

{% endblock %}
